https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.28.zip
TgCrypto
loguru
python-dotenv
telegraph
urlextract
aiofiles
yt_dlp
dynamicadaptor
dynrender_skia # apt install libgl1-mesa-glx ,  ubuntu 24 需要安装 apt install libgl1 libglx-mesa0
beautifulsoup4
xhs
aiocache
apscheduler
tenacity
openai==1.42.0
langchain
langchain-openai==0.1.22
langchain_core==0.2.35
aiofiles
playwright
pydub
opencv-python